<div class="card p-2">
    <main class="form-signin">
        <form>
            <h1 class="h3 mb-3 fw-normal">Filter</h1>

            <div class="form-floating pb-2">
                <input type="price" class="form-control" id="floatingInput" placeholder="1000">
                <label for="floatingInput">From</label>
            </div>
            <div class="form-floating pb-2">
                <input type="price" class="form-control" id="floatingPassword" placeholder="1000">
                <label for="floatingInput">To</label>
            </div>
                <button class="w-100 btn btn-lg btn-primary" type="submit">Submit</button>
            <p class="mt-5 mb-3 text-muted">&copy; 2017–2021</p>
        </form>
    </main>
</div>