<div id="products" class="row d-flex pt-5 pb-1">
    <div class="item  pb-1">
        <div class="thumbnail">
            <img class="group list-group-image" src="http://placehold.it/200x150/000/fff" alt="" />
            <div class="caption">
                <h4 class="group inner list-group-item-heading">
                    {{productItem.name}}</h4>
                <p class="group inner list-group-item-text">
                    {{productItem.description}</p>
                <div class="row">
                    <div class="col-xs-12 col-md-6">
                        <p class="lead">
                            {{productItem.price}</p>
                    </div>
                    <div class="col-xs-12 col-md-6">
                        <a class="btn btn-success btn-sm" href="http://www.jquery2dotnet.com">Add to cart</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

